:root {
    --lightgreen: #5b9d70;
    --white: #ffffff;
    --darkGreen: #17562b;
    --pink: #e26e91;
    --grey: #718690;
    --red: #ed2525;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: unset;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--darkGreen);
    border-radius: 12px;
    align-items: center;
    height: 20%;
    margin: 10px;
}

header:first-child {
    padding-left: 20px;
    font-size: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a {
    color: black;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--red);
}


.main-menu{
    padding: 10px;
    margin: auto;
}

/* First descendant selector here*/
.main-menu ul{
    padding-inline-start: 5px;
}

.main-menu ul li{
    display: inline;
    margin: 0px 10px 0px 10px;
    font-size: 25px;
}

/* First child selector here*/
.main-menu > ul > li > a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.main-menu ul li a:hover{
    background-color: azure;
}

/* Adjacent sibling selector here*/
.main-menu li:first-of-type + li{
    font-weight: 900;
}

.container-feed-main{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container-feed-left{
    background-color: rgb(225, 225, 225);
    width: 300px;
    border-radius: 20px;
}

.container-feed-middle{
    width: 600px;
    border-radius: 20px;
    margin: 0px 20px 0px 20px;
}

.container-feed-right{
    background-color: rgb(225, 225, 225);
    width: 300px;
    border-radius: 20px;
}

.footer-container {
    margin-top: 10px;
    border-radius: 20px;
    background-color: rgb(225, 225, 225);
    height: 100px;
}

.footer-container {
    text-align: center;
}

.footer-container .footer-wrapper {
    padding: 30px;
}

footer {
    width: 100%;
}

#footer-message {
    margin: 0;
}

.post-header {
    padding: 15px;
    display: flex;
}

.post-header p {
    font-weight: 600;
    font-size: 25px;
    margin: 0;
    text-align: center;
    margin: auto 0 auto auto;
}

.post-content{
    width: 100%;
    text-align: center;
}

.post-description{
    padding: 40px;
}

.post-description p{
    font-size: 18px;
    margin-bottom: 10px;
}

.post-wrapper{
    display: grid;
    row-gap: 20px;
}

.post{
    background: rgb(206, 206, 206);
    border-radius: 20px;
}

.add-post-container{
    padding: 0px;
}

.add-post-wrapper{
    height: 580px;
    width: 600px;
    margin: 0 auto;
    border-radius: 20px;
    background: rgb(206, 206, 206);;
}

#add-post-body{
    display: flex;
    padding: 30px 100px;
}

#add-post-body h2{
    width: 60px;
    margin: 0px 10px 0px 0px;
}

/* Pseudo-element here */
#add-post-body h2::first-letter{
    text-transform: uppercase;
}

#post-text-input-form{
    resize: none;
    font-size: 15px;
}

#add-post-select-file{
    display: flex;
    padding: 0px 100px;
    gap: 130px;
    align-items: center;
}

#add-post-select-file h2{
    width: 60px;
}

.choose-file-button{
    height: 50px;
    font-size: 25px;
    width: 300px;
    background: rgb(80, 80, 80);
    color: white;
}

#add-post-submit{
    text-align: center;
    padding: 70px;
}

.submit-post-button{
    height: 40px;
    font-size: 23px;
    width: 200px;
    background: rgb(2, 78, 126);
    color: white;
}

/* General sibling selector here */
.post-description h2 ~ p {
    text-decoration: solid;
    color: rgb(45, 45, 45);;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    height: wrap;
    width: max-content;
    background-color: var(--lightgreen);
    border-radius: 12px;
    margin: 10px;
    font-size: xx-large;
    text-align: center;
    padding: 20px;
    margin-bottom: 20%;

}

.dropdown {
    position: relative;
    margin: 30px;
    display: inline-block;
}

.dropdown-content {
    text-align: center;
    display: none;
    position:fixed;
    margin-left: -109px;
    background-color: #5b9d70;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    line-height: 30px;
}

.dropdown-content label{
    color: black;
}

.show {display: block;}




